.layout {
  height: 100vh;
  padding: 20px;
}

.header {
  height: 10%;
  background-color: black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header h1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
}

.header h1 {
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.header h1:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.header h1:hover {
  background-position: 0;
}

.header h1:hover::before {
  width: 100%;
}

.header button {
  border: 1px solid white !important;
  color: white !important;
}

.header button {
  border: 1px solid white !important;
  color: white !important;
}

.content {
  height: 85%;
  border: 1px solid gray;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px gray;
  padding: 10px;
}
